:root {
  --primary-color: #e50914;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  --webkit-font-smoothin: antialiased;
  background: #000;
  color: #999;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 110vh;
  position: relative;
  background: url('../img/background.jpg') no-repeat center center/cover;
  border-bottom: 10px solid #303030;
}

/* Making the showcase transparent */
.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 10px 40px 120px #000000, inset -10px -40px 250px #000000;
}

.showcase-top {
  position: relative;
  z-index: 2;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  z-index: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}
.btn-rounded {
  border-radius: 5px;
}
.btn-xl {
  font-size: 1rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}
.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.form {
  display: flex;
}
.email-box {
  width: 500px;
  padding-left: 10px;
  font-size: 20px;
}

.ready p {
  font-size: 13px;
  padding-top: 40px;
}
/* second section */

.second-section {
  background-color: #000000;
  border-bottom: 10px solid #303030;
}

.first {
  display: flex;
}

.netflix-1 {
  flex: 1;
}
.enjoy {
  flex: 1;
}
.enjoy h1 {
  padding-top: 140px;
  padding-left: 90px;
  font-size: 50px;
}

.enjoy p {
  font-size: 20px;
  color: #fff;
  padding-left: 90px;
  line-height: 30px;
}
.netflix-1 img {
  height: 500px;
  width: 500px;
  margin-left: 90px;
  margin-top: 10px;
}

/* Third section */
.third-section {
  background-color: #000000;
  padding-top: 1.5rem;
  border-bottom: 10px solid #303030;
}

.second {
  display: flex;
}

.netflix-2 {
  flex: 1;
}
.download {
  flex: 1;
  order: 2;
}

.netflix-2 img {
  height: 500px;
  width: 600px;
  margin-right: 90px;
  margin-top: 10px;
}
.download h1 {
  padding-top: 140px;
  padding-right: 90px;
  font-size: 50px;
}

.download p {
  font-size: 20px;
  color: #fff;
  padding-right: 90px;
  line-height: 30px;
}

/* Fourth section */
.fourth-section {
  background-color: #000000;
  padding-top: 1.5rem;
  border-bottom: 10px solid #303030;
}

.third {
  display: flex;
}
.netflix-3 {
  flex: 1;
}
.watch {
  flex: 1;
}
.netflix-3 img {
  height: 500px;
  width: 600px;
  margin-left: 90px;
  margin-top: 10px;
}
.watch h1 {
  padding-top: 140px;
  padding-left: 90px;
  font-size: 50px;
}

.watch p {
  font-size: 20px;
  color: #fff;
  padding-left: 90px;
  line-height: 30px;
}

/* Frequently asked questions part */

.questions {
  background-color: #000000;
  padding-top: 1.5rem;
  border-bottom: 10px solid #303030;
}
.frequently{
  color:white;
  padding-bottom: 50px;
}
.container {
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: 30px;
  
}

.display-questions{
  background-color: #303030;
  color:#fff;
  cursor: pointer;
  padding: 28px;
  width: 60%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: 400;
  font-size: 25px;
  transition: 0.4s;
  margin-top: 10px;
  margin-bottom: 10px;
}
.panel{
  background-color: #303030;
  color:#fff;
  padding:0 28px;
  font-size: 25px;
  margin-left: 249px;
  margin-right: 249px;
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
 
}

.active .display-questions:hover{
  background-color: #ccc;
}
.display-questions:after{
  content: '\002B';
  color: #777;
  font-weight: bold;
  float:right;
  margin-left: 5px;
}
.active:after{
  content: '\2212';
  
}
.container1{
  padding: 18px;
  width: 100%;
  align-items: center;
  text-align: center;
}
